/* Global Styles */
@import url(./colors.css);
@import url(./global.css);

/* Navbar styling */
.sidenav {
    background-color: var(--primaryColor);
    height: 100%;
    overflow-x: hidden;
    padding-top: 3.75rem;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.45s;
    width: 0;
    z-index: 1;
}

.overlay{
    position: initial;
    inset: 0;
    transition: opacity 0.3s ease 0s;
    opacity: 1;
    pointer-events: auto;
    background: rgba(0, 0, 0, 0.6);
}

.side-links {
    padding: 1.875rem;
}

.sidenav a {
    color: var(--lightWhite);
    display: block;
    font-size: 2rem;
    padding: .5rem .5rem .5rem 2rem;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

.sidenav a:hover {
    color: var(--primaryColor);
}

.sidenav .closebtn {
    font-size: 2.25rem;
    margin-left: 3.125rem;
    position: absolute;
    right: .64rem;
    top: 0;
}


header {
    background: var(--white);
    height: 4.375rem;
    margin: 0 auto;
    max-width: 87.5rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-menu {
    align-items: center;
    display: flex;
    height: 4.7rem;
    justify-content: space-between;
    margin: 0 1.25rem;

}

.nav-menu h1 {
    color: var(--primaryColor);
}

.hamburger-menu {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.hamburger-menu span {
    background: var(--primaryColor);
    border-radius: 0.125rem;
    height: .2rem;
    margin-bottom: 0.25rem;
    width: 1.375rem;
}

/*********************************/
.app-wrapper {
    margin: 0 auto;
    max-width: 87.5rem;
}


.app-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
}

.app-container h1 {
    color: var(--primaryColor);
    font-family: 'Hyundai Sans Head Office';
    font-size: 3.125rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

.app-container .store {
    margin-bottom: 1rem;
}

.find-friends {
    display: flex;
    flex-direction: column;
}

.app-location {
    background-color: var(--primaryColor);
    height: 11rem;
}

.add-location {
    align-items: center;
    display: flex;
    flex-direction: column;

}

.add-location h1 {
    color: var(--white);
    font-family: 'Hyundai Sans Head Office';
    font-size: 1.5625rem;
    line-height: 1.5625rem;
    margin-bottom: 0.625rem;
    margin-top: 1.25rem;
}

.add-location p {
    color: var(--white);
    font-family: 'Hyundai Sans Head  Office';
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
    line-height: 0.9375rem;
    margin-bottom: 1.875rem;
    text-align: center;
}

.add-location button {
    background-color: var(--white);
    border: 1px solid transparent;
    border-radius: 0.3125rem;
    color: var(--primaryColor);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.9375rem 2.5rem;
    transition: .2s ease-in;
}

.add-location button:hover {
    background-color: var(--hoverColor);
    color: var(--white);
}

/*********************************/
.find-pet-container .match {
    color: var(--primaryColor);
    font-family: 'Hyundai Sans Head Office';
    font-size: 3rem;
    font-weight: bold;
    text-align: center;

}

.find-match {
    margin-top: 1rem;
    width: 65vw;
}

.find-pet-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.find-pet-container img {
    max-width: 100%;

}

/*********************************/
.category-title {
    margin-bottom: 0.625rem;
}

.cat-feed {
    width: 10%;
}

.child-categories {
    background-color: var(--primaryColor);
    height: 15.25rem;
    position: relative;
}

.child-categories img {
    position: absolute;
    right: 1rem;
    top: -0.375rem;
}

.child-categories h1 {
    color: var(--white);
    font-family: 'Hyundai Sans Head Office';
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5625rem;
    margin-bottom: 1.25rem;
}

.child-categories p {
    color: rgba(255, 255, 255, 0.65);
    margin-bottom: 4.375rem;
}

.btn {
    color: var(--white);
    cursor: pointer;
    font-size: 1rem;
    text-decoration: underline;
    transition: .3s ease-in;
}

.btn:hover {
    color: var(--hoverColor);
}

.categories-information {
    padding: 1.25rem;
}


.feedback {
    padding: 0.625rem 0.5625rem;
}

.feedback-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.see-all {
    color: var(--primaryColor);
}

.see-all:hover {
    color: var(--purple);
}

.cat-feed {
    color: var(--primaryColor);
    font-size: 1.4375rem;
    font-weight: bold;
    margin-left: 0.625rem;

}

.cards {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0.625rem 0.5625rem;

}

.items {
    border-radius: 0.5625rem;
    margin-bottom: 1.25rem;

}

.card-items {
    background-color: var(--white);
    border: 1.8232.4375rem solid rgba(94, 64, 164, 0.18);
    box-shadow: 0px 13.6754px 27.3508px rgba(94, 64, 164, 0.14);
    display: none;
    height: 16.25rem !important;
}




.card-items:nth-of-type(-n+3) {
    display: block;
}

.card-items:last-child {
    margin-bottom: 2.5rem;
}

.app-group {
    min-height: 25rem;
    position: relative;
    max-width: 600px;
    margin: 0 auto;
}

.app-group img {
    position: absolute;
}

.app-group .help {
    left: 3rem;
}

.app-group .map {
    right: 0;
    top: 2.375rem;
}

.icon-group {
    margin: 1.0625rem 0 0.9375rem 1.125rem;
}

.icon-group img:not(:last-child) {
    margin-right: 0.3125rem;
}

.card-items h3 {
    color: var(--black);
    font-family: inherit;
    font-size: 1.25rem;
    margin-left: 1.25rem;
}

.feedback-text {
    color: var(--grey);
    padding: 0.625rem 1.0625rem;
}

.person-feed {
    align-items: center;
    display: flex;
    margin-left: 0.625rem;
}

.person-feed img {
    margin-right: 0.5rem;
}

.person-feed span {
    color: var(--black);
    font-weight: bold;
}

/*********************************/
.footer-content {
    padding: 1.875rem;
}

footer .app-store-icon {
    display: none;
}

.copyright {
    display: none;
}

footer .web-logo {
    color: var(--primaryColor);
    font-size: 1.625rem;
    margin-bottom: 1.5625rem;
}

.links-list {
    display: grid;
    gap: 1.875rem;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 3.125rem;
}

.links-list a {
    color: var(--primaryColor);
    font-size: 1.125rem;
    font-weight: bold;
    text-decoration: none;
}

footer .social-icons {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.play-store-icon {
    display: none;
}

.group-appstore {
    margin-bottom: 1.875rem;
}

.social-link {
    display: none;
}

.mob-app {
    display: none;
}

.language {
    display: none;
}

.list-link {
    display: none;
}

.nav-lists {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.links-list .btn-first:hover {
    color: var(--pink);
}

.scrollToTop{
    display: none;
}


/* ************Media queries************************* */

@media screen and (min-width:20rem) {
    .app-group .sign-up {
        top: 0.5625rem;
        width: 9.125rem;
    }

    .app-group .map {
        right: 0;
        top: 2.75rem;
        width: 8.4375rem;
    }

    .app-group .help {
        left: 3.3125rem;
        top: 1.125rem;
        width: 13.5rem;

    }

    .app-location {
        height: 12.5rem;
    }

    .app-location h1 {
        text-align: center;
    }

    .find-match {
        width: 51vw;
    }

    .find-pet-container .match {
        font-size: 2rem;
    }


}

@media screen and (min-width:22.5rem) {
    .app-group .map {
        right: 0;
        top: 1.6875rem;
    }

    .app-group .sign-up {
        top: 1.375rem;
    }

    .app-group .help {
        left: 4.1875rem;
        top: 0.375rem;
    }

    .find-match {
        width: 48vw;
    }
}


@media screen and (min-width:25.875rem) {
    .app-group .help {
        left: 4.25rem;
    }

    .app-container h1 {
        font-size: 2.5rem;
        width: 50vw;
    }

    .add-location p {
        text-align: center;
    }

    .find-match {
        width: 40vw;
    }
}

@media screen and (min-width:37.5rem) {
    .app-group .sign-up {
        top: 0.5rem;
        width: 13.125rem;
    }

    .app-group .help {
        left: 8.875rem;
        width: 18.75rem;
    }

    .app-group .map {
        right: 0;
        top: 2.4375rem;
        width: 11.875rem;
    }
}

@media screen and (min-width:48rem) {
    header {
        margin-bottom: 1.875rem;
    }

    .app-group {
        display: none;
    }

    .app-container h1 {
        width: 50vw;
    }

    .find-friends {
        flex-direction: row;
        margin-bottom: 3.75rem;
    }

    .app-container .store {
        margin-bottom: 0;
        margin-right: 1.25rem;
    }

    .add-location p {
        font-size: 1.125rem;
        text-align: center;
    }

    .add-location h1 {
        font-size: 1.875rem;
    }

    .add-location button {
        font-size: 1.25rem;
    }

    .find-pet-container {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 0 0 2.5rem;
    }

    .find-match {
        width: 32vw;
    }



    .categories {
        flex-direction: row;
        flex-wrap: wrap;

    }

    .child-categories {
        width: 48%;
    }

    .child-categories:nth-child(1) {
        margin-right: 1.25rem;
    }

    .child-categories:nth-child(3) {
        flex: 1;
    }

    footer .social-icons {
        justify-content: flex-start;
    }

    .social-icon:not(:last-child) {
        margin-right: 1.25rem;
    }
}

@media screen and (min-width:64rem) {

    .download-app {
        padding: 1.875rem 0 0 0;
    }

    .find-friends {
        flex-direction: row;
        margin: 1.25rem 0 6.25rem 0;
    }

    .find-friends .app-store {
        margin: 0 1.25rem 0 0;
    }

    .find-friends img {
        width: 15.625rem;
    }

    .app-container h1 {
        font-size: 3.5rem;
    }



    .app-group {
        display: none;
    }

    .app-location {
        height: 16.25rem;
    }

    .add-location {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 2.5rem 2.5rem 0 2.5rem;
    }

    .add-location h1 {
        font-size: 2.5rem;
    }

    .add-location p {
        font-size: 1.375rem;
        text-align: left;
    }

    .add-location button {
        font-size: 1.5625rem;
    }

    .location-content {
        margin-top: 0.625rem;
    }

    .find-pet-container {
        flex-direction: row;
        justify-content: space-between;
        padding: 2.5rem 2.5rem 0 2.5rem;
    }

    .find-pet-container .match {
        font-size: 3.5rem;
    }

    .find-match {
        width: auto;
    }

    .items {
        margin-left: 0.625rem;
    }

    .cards {
        flex-direction: row !important;
    }

    .cat-feed {
        margin-left: 1.25rem;
    }

    .child-categories {
        margin-bottom: 0;
        width: 100%;
    }

    .child-categories p {
        font-size: 1.125rem;
        margin-bottom: 1rem;
    }

    .child-categories h1 {
        font-size: 1.5rem;
        margin-bottom: 1.375rem;
    }

    .learn-more {
        font-size: 1.125rem;
    }

    .categories {
        flex-direction: row;
        margin-bottom: 3.125rem;
    }

    .see-all {
        margin-right: 0.625rem;
    }

    .links .btn {
        color: var(--white);
    }

    footer {
        background: var(--primaryColor);
    }

    footer .web-logo {
        color: var(--white);
        font-size: 2rem;
        margin-bottom: 1.5625rem;
    }

    footer .app-store-icon {
        display: inline;
        margin: 0 0.9375rem 0 0;
    }

    .app-container .store {
        margin-bottom: 0;
        margin-right: 0.9375rem;
    }

    .play-store-icon {
        display: inline-block;
    }

    .group-appstore {
        display: none;
    }

    .social-link {
        display: block;
        transition: 250ms all;
    }

    .social-link:hover {
        transform: scale(1.2);
    }

    .social-icon {
        display: none;
    }



    .links-list .btn-first {
        font-size: 1.5rem;
    }

    .categories {
        flex-direction: row;
        flex-wrap: nowrap;

    }

    .child-categories:nth-child(1) {
        flex: 1;
        margin-right: 0;
    }

    .child-categories:nth-child(3) {
        flex: 1;
    }

    .child-categories:nth-child(2) {
        flex: 1;
    }

    footer .social-icons {
        justify-content: space-around;
    }

    .footer-content {
        display: grid;
        gap: 5.625rem;
        grid-template-columns: 1fr 1fr;
    }

    .links-list {
        margin-left: 2rem;
        row-gap: 1.25rem;
    }

}

@media screen and (min-width:80rem) {

    .hamburger-menu {
        display: none;
    }

    .nav-lists {
        align-items: center;
        display: flex;
    }

    .nav-lists a {
        color: var(--lightBlack);
        cursor: pointer;
        font-size: 1.25rem;
        font-weight: 500;
        position: relative;
        text-decoration: none;
    }

    .nav-lists a::after {
        background-color: var(--primaryColor);
        bottom: -0.3125rem;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        transition: 0.3s ease-in-out;
        width: 0;
    }

    .nav-lists a:hover::after {
        width: 100%;
    }

    .nav-lists a:hover {
        color: var(--primaryColor);

    }

    .nav-lists a:not(:last-child) {
        margin-right: 1.25rem;
    }

    .nav-lists h1 {
        margin-right: 3.125rem;
    }

    .language {
        cursor: pointer;
        display: block;
    }

    .list-link {
        display: inline-block;
    }

    .dropdown {
        position: relative;
    }

    .dropdown.single {
        padding: 0.75rem;
    }

    .dropdown__content {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        user-select: none;
    }

    .dropdown__content-selected {
        font-size: 1rem;
    }

    .dropdown__content-icon {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-left: .2rem;
    }

    .app-container {
        align-items: flex-start;
    }

    .mob-app {
        bottom: 0;
        display: block;
        height: 31.25rem;
        position: absolute;
        right: 4.375rem;
        width: 42.5rem;
        z-index: -1;
    }



    .find-friends {
        margin: 1.25rem 0 6.25rem 1.875rem;
    }

    .app-container h1 {
        margin-left: 1.875rem;
        text-align: left;
    }

    header {
        background: none;
        position: relative;
    }

    .find-pet-wrapper {
        padding: 0;
    }

    .see-all {
        display: none;
    }

    .copyright {
        color: var(--white);
        display: block;
        font-size: 1.25rem;
        margin-top: 1.25rem;
    }

    .links-list {
        margin-left: 0;

    }

    footer .social-icons {
        justify-content: flex-start;
        width: fit-content;

    }

    .social-link:not(:last-child) {
        margin-right: 1.25rem;
    }

    .add-location {
        justify-content: space-between;
        padding: 2.5rem 2.5rem 0 2.5rem;
    }

    .find-pet-container {
        justify-content: space-between;
        padding: 0 2.5rem;
    }

    .footer-content {
        padding: 2.5rem;
    }

    .card-items:nth-of-type(n) {
        display: block;
    }


    .dropdown__container {
        background-color: var(--white);
        border: 1px solid var(--lightWhite);
        border-radius: 0.1875rem;
        display: none;
        max-height: 6.25rem;
        padding: 0.3125rem;
        position: absolute;
        top: 100%;
        width: 100%;
    }

    .dropdown__container ul {
        list-style: none;
    }

    .dropdown__container li {
        text-align: center;
    }


    .dropdown__container li:hover {
        background-color: var(--lightWhite);
    }

    .show {
        display: block;
    }

    .chevron {
        transform: rotate(0deg);
    }

    .rotate180 {
        transform: rotate(180deg);
    }

    .swiper-slide:hover {
        transform: scale(1.03) !important;
    }

    .scrollToTop {
        position: fixed;
        display: block;
        right: 3rem;
        padding: 0.5rem 0.25rem;
        border: 1px solid var(--primaryColor);
        z-index: 55;
        cursor: pointer;
        font-weight: bold;
        color: var(--primaryColor);
        background-color: var(--white);
        transform: translateY(50px);
        opacity: 0;
        transition: transform 0.5s, opacity 0.5s;
    }

    .showScrollToTop {
        opacity: 1;
        transform: translateY(0);
    }
}


@media screen and (max-width:80rem) {
    .nav-menu {
        display: inherit;
    }
}